body {
    font-family: sans-serif;
    background: #1e1e1e;
    color: #eee;
    padding: 10px;
}

h2 {
    margin-top: 0;
}

input, button {
    width: 100%;
    margin-top: 6px;
    padding: 6px;
    font-size: 14px;
}

button {
    cursor: pointer;
    background: #444;
    color: #fff;
    border: none;
}

button:hover {
    background: #666;
}